body{
	background-color: #E4E4E4;
	background-image: url('backgroundrays.jpg');
	background-size: 35%;
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}
#box{
	width: 800px;
	margin: 0 auto;
	background-color: #FFF9BD;
}
#box a{
	text-decoration: none;
	color: #160BB5;
}
#box a: visited{color: #160BB5;}
#box a:hover{color: #02B518;}
#box a:active{color: #FF8885;}


#banner{
	float: center;
	margin: 0 0 -4px 0;
}
#banner img{
	display: inline;
}
#nav ul{
	font-family: courier;
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 7px;
	background-color: #A785FF;
}
#nav ul li{
	display: inline;
}
#nav ul li a{
	text-decoration: none;
	background-color: #A785FF;
	padding: 7px;
	margin: 0 50px;
	color: #ffffff;
}
#nav ul li a:visited{color: #ffffff;}
#nav ul li a:hover{color: #FFBAFC;}
#nav ul li a:active{color: #FF8885;}

#sidebarL{
	float: left;
	width: 130px;
	padding: 10px;
	font-family: "lucida sans unicode", sans-serif;
	font-size: 85%;
}
#sidebarR{
	padding: 10px;
	float: right;
	width: 130px;
	font-family: "lucida sans unicode", sans-serif;
	font-size: 85%;
}

#main{
	width: 480px;
	margin: 0 0 0 150px;
	background-color: #ffffff;
	padding: 10px;
	color: #000000;
	font-family: "lucida sans unicode", sans-serif;
	
}

h1{
	margin: 0;
	font-family: "lucida sans unicode", sans-serif;
	font-size: 200%;
}

h3{
	font-size: 100%;
	font-family: "lucida sans unicode", sans-serif;
	margin: 0;
}
h4{
	font-size: 110%;
	font-family: "lucida sans unicode", sans-serif;
	margin: 0;
}
h6{
	font-family: "lucida sans unicode", sans-serif;
	font-size: 90%;
}
p{
	font-family: "lucida sans unicode", sans-serif;
	font-size: 100%;
}
.blank{
	clear: both;
}
.righty{
	float: right;
	margin-left: 0;
	margin-right: 0;
}
img.bigpic {
  width: inherit;
  max-width: 100%;
  height: auto;
}
ol li a{
	text-decoration: none;
	
}
ol li a:visited{color: #160BB5;}
ol li a:hover{color: #02B518;}
ol li a:active{color: #FF8885;}
#video{
	margin: 0 0 0 -40px;
}
table{
	font-size: 80%;
	
}
table th{
	padding: 10px;
}
table td{
	padding: 10px;
}
ul{
	list-style-type: square;
}
#sidebarL ul{
	list-style-type: disc;
	margin: 0 0 0 -20px;

}
#sidebarR ul{
	list-style-type: circle;
	margin: 0 0 0 -20px;
}
